.blog-item {
  padding: 1rem;
  width: 400px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog-item:hover {
  background-color: var(--background-secondary);
}

.blog-item__image {
  width: 100%;
  border-radius: 5px;
}

.blog-info {
  padding: 0.5rem;
}

.blog-info__heading {
}

.blog-info__description {
  margin-top: 0.2rem;
}

.blog-info__date {
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
