:root {
  --main-theme-color: #5f3dc4;
  --main-green-color: #40c057;
  --main-red-color: #fa5252;
  --light-green-color: #ebfbee;
  --light-red-color: #fff5f5;
}

.form {
  width: 500px;
  margin: auto;
  padding: 2rem;
  background-color: #f3f0ff;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form__title {
  color: var(--main-theme-color);
  font-size: 2rem;
  text-align: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-field__label {
}

.input-field__input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  min-width: 100%;
  max-width: 100%;
}

.input-field__label_accept {
  border-bottom: 2px solid var(--main-green-color);
  background-color: var(--light-green-color);
}

.input-field__input_reject {
  border-bottom: 2px solid var(--main-red-color);
  background-color: var(--light-red-color);
}

.form-action {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.form-action__button {
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: white;
}

.form-action__button_main {
  color: white;
  background-color: var(--main-theme-color);
}
