.error-message {
  background-color: #e5dbff;
  width: fit-content;

  padding: 5rem;
  margin: 10rem auto;
  border-radius: 0.5rem;
}

.error-message__heading {
  text-align: center;
  color: #5f3dc4;
  font-size: 5rem;
}

.error-message__sub-heading {
  text-align: center;
  margin-top: 2rem;
}

.error-message__description {
  text-align: center;
  margin-top: 1rem;
}
